.aptitudes{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh max-content max-content max-content max-content;
}

.title-aptitudes{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

.react{
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.javascript{
    grid-column:1;
    grid-row: 3;
    margin: auto;
}

.css{
    grid-column: 1;
    grid-row: 4;
    margin: auto;
}

.html{
    grid-column: 1;
    grid-row: 5;
    margin: auto;
}

.react, .javascript, .css, .html{
    transition: transform 0.5s;
}

.react-logo, .javascript-logo, .css-logo, .html-logo{
    transition: transform 0.5s;
    max-width: 50%;
    display:block;
    margin:auto;
}

.react-logo:hover, .javascript-logo:hover, .css-logo:hover, .html-logo:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 480px){
    .aptitudes{
        display:grid;
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: 20vh max-content max-content;
    }

    .title-aptitudes{
        grid-column: 1/3;
    }

    .react{
        grid-column: 1;
        grid-row: 2;
    }
    
    .javascript{
        grid-column:2;
        grid-row: 2;
    }
    
    .css{
        grid-column: 1;
        grid-row: 3;
    }
    
    .html{
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (min-width: 769px){
    .react-logo, .javascript-logo, .css-logo, .html-logo{
        max-width: 40%;
    }
}

@media screen and (min-width: 1200px){
    .react-logo, .javascript-logo, .css-logo, .html-logo{
        max-width: 32%;
    }
}