.media{
    margin: none;
}

.title-contact{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
}

.social-media{
    list-style: none;
    display: grid;
    grid-auto-columns: 100vw;
    grid-template-rows: auto;
    margin:0;
    padding: 0;
    border:0;
}

.instagram, .twitter, .facebook, .email, .telefono, .linkedin{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, max-content);
    text-align: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    transition: transform 0.5s ease;
    font-size: 14px;
    overflow-wrap: break-word;
}

.instagram:hover, .twitter:hover, .facebook:hover, .email:hover, .telefono:hover, .linkedin:hover{
    transform: scale(1.1);
}

.instagram-logo, .twitter-logo, .facebook-logo, .email-logo, .wapp-logo, .in-logo{
    max-width: 60%;
    min-width: 60%;
    display:block;
    margin:auto;
}

@media screen and (min-width: 480px){
    .social-media{
        grid-template-columns: repeat(3, 33.33vw);
    }

    .instagram, .twitter, .facebook, .email, .telefono, .linkedin{
        grid-template-rows: repeat(2,auto);
        margin: 1rem;
    }

    .instagram-logo, .twitter-logo, .facebook-logo, .email-logo, .wapp-logo, .in-logo{
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (min-width: 768px){

    .instagram, .twitter, .facebook, .email, .telefono, .linkedin{
        font-size: 18px;
        margin: 2rem;
    }
    
    .instagram-logo, .twitter-logo, .facebook-logo, .email-logo, .wapp-logo, .in-logo{
        max-width: 60%;
        min-width: 60%;
    }
}

@media screen and (min-width: 1200px){
    .instagram, .twitter, .facebook, .email, .telefono, .linkedin{
        font-size: 20px;
        margin: 2rem;
    }

    .instagram-logo, .twitter-logo, .facebook-logo, .email-logo, .wapp-logo, .in-logo{
        max-width: 40%;
        min-width: 40%;
    }
}
