.experience-title{
    margin:auto;
    padding-top: 30px;
    text-align: center;
}

.experience{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5vh max-content 5vh 1fr 5vh;
}

.quiniela, .marketing-academy{
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 4px rgb(128, 128, 128), -4px 4px 4px rgb(128, 128, 128);
    min-width: 80vw;
    max-width: 90vw;
    margin:auto;
}

.date-quiniela{
    display: block;
    grid-column: 1;
    grid-row: 1;
    margin:auto;
    text-align: center;
    font-weight: 500;
}

.container-quiniela{
    grid-column: 1;
    grid-row: 2;
}

.date-ma{
    display: block;
    grid-column: 1;
    grid-row: 3;
    margin:auto;
    text-align: center;
    font-weight: 500;
}

.container-ma{
    grid-column: 1;
    grid-row: 4;
}

.quiniela h4, .marketing-academy h4{
    text-align: center;
    font-weight: 500;
}

.quiniela h3, .marketing-academy h3{
    text-align: center;
    margin:1rem;
    padding: 1rem;
}

.quiniela ul, .marketing-academy ul{
    margin: 0;
    list-style: none;
    display:grid;
    justify-content: center;
}

.quiniela li, .marketing-academy li{
    margin: 1rem;
}

@media screen and (min-width: 480px){
    .quiniela, .marketing-academy{
        min-width: 80%;
        max-width: 80%;
        margin:auto;
    }
}

@media screen and (min-width: 768px){
    .quiniela, .marketing-academy{
        min-width: 60%;
        max-width: 60%;
    }
}

@media screen and (min-width: 1200px){
    .quiniela, .marketing-academy{
        min-width: 40%;
        max-width: 40%;
    }
}
