.lead-content{
  margin-top:0;
  background-image: url(assets/img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  position:fixed;
  width: 100%;
}

.container-cv{
  display:inline-block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  color: rgb(255,255,255);
  text-align: center;
  margin:0px;
}

.container-am, .container-studies, .container-aptitudes, .container-logo{
  background: rgb(255,255,255);
}

.container-experience, .container-portfolio, .container-contact{
  background: rgb(219, 219, 219);
}
